.hero
  %h1.title
    BaseClinic
  %h3.coming-soon
    Coming early 2014.
  %h2.sub-title
    A whole new way to manage your hearing center.
  .content
    BaseClinic is a web-based software on a crusade - to help hearing
    %br
    professionals run a more efficient, productive, and modern practice.

.email
  %p
    Enter your email and get exclusive research on hearing 
    %br
    industries best practices before the software is out.
  %p
    %form
      %input
      %input.btn.btn-primary(type="submit" value="Keep me posted!")

.container
  .stories.row

    .col-offset-2.col-4.story
      .title
        We were hearing specialists too
      .content
        %p In 2012 my brother Travis and I (Skylar) were working as Hearing Specialists for a large hearing aid company. I was running two clinics in the L.A., Travis was over three clinics throughout Milwaukee.
        %p Things were going well. Our clinics were growing, revenue was climbing and most importantly, our patients were happy.
        %p Just one little problem, we felt like things could be running a little smoother on the business side of things.
    .col-4.story
      .title
        Figuring out the fix
      .content
        %p We spent a lot of time thinking about how we could run our clinics better. What did Ineed to know? How often? What kind of things? From who? Could other people in the company find this information useful too? And so on.
        %p Travis started creating spreadsheets that XXXX. I on the other hand was patching together bits and pieces of other software applications to XXX
        %p We started to discover there was a better way. We just needed to build it.
    .col-offset-2.col-4.story
      .title
        We craved organization
      .content
        %p We're both sorta OCD when it comes to organization, and the ‘organizational’ software we were required to use didn't seem to fit the bill. We certainly didn’t need another business intelligence dashboard full of stats and graphs.
        %p What we had was an organizational problem.
    .col-4.story
      .title
        Building it
      .content
        %p We pulled together an amazing team, and started making things happen. We prototyped, and prototyped, and prototyped some more until we absolutely nailed it. From a huge pile of possibilities we made a simple, useful software that solved real problems. It's a product worthy of being used.

.love-it
  .title You'll use it because you love it
  .content
    We don’t want you to use BaseClinic because it’s the best out of a bunch of bad options. We want
    %br
    you to use BaseClinic because you absolutely love it.

.container.footer
  .row
    .col-offset-2.col-4.press
      .title
        Press Room
      .content
        If you find what we're doing worth writing
        about, we'd love to chat.
        %ul
          %li If you are looking to be one of the first to review BaseClinic, you can contact us a press@baseclinic.com
          %li For up to date news, check out our blog or Facebook page.

    .col-4.contact
      .title
        Contact
      .content
      %p We’d love to hear from you!
      %p Business owners, hearing professionals, future friends in the Industry, etc. Interested in helping spread the BaseClinic word? We'd love to hear from you! Have other partnership opportunities or ideas? Don't hesitate to reach out!
      %p
        %a hi@baseclinic.com
